 html{
            font-family: sans-serif;
            background-image: url(../images/bats.gif);
            background-repeat: repeat;
        }
        header
        {
            
            margin-top: 0px;
            padding-top: 0px;
            background : linear-gradient(45deg, white,orange,black);
            border-bottom: solid 2px black;
        }
        h1{
            padding-top: 10px;
            margin-top: 0px;
            text-align: left;
            text-indent: 20px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        h2
        {
            text-indent: 20px;
            padding-top: 0px;
            margin-top: 0px;
        }
h3
{
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
}
        li
        {
            padding-bottom: 0px;
        }
        main
        {
            padding-left: 35px;
            padding-right: 35px;
        }
        body
        {
            width: 800px;
            margin: auto;
            background-color: white;
            border: solid 4px black;
            border-color: black;
            box-shadow: 0px 0px 50px black;
            
       
        }
        aside
        {
            width:160px;
            float: left;
            text-align: left;
            padding-bottom: 0px;
            padding-right: 40px;
            padding-left: 0px;
        }
        footer
        {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 8px;
            text-align: center;
            border-top: solid 2px black;
            background:linear-gradient(45deg, black,orange,white);
            clear: both;
        }
        a:link
        {
            color:orange;            
        }
        a:visited
        {
            color:orange;
        }
        a:hover
        {
            background-color:green;
        }
        a:focus
        {
            background-color: green;
        }
        a:active
        {
            color:orange;
        }
        
        .guarantee
        {
            padding-bottom: 0px;
            margin-bottom: 10px;
            font-size: 125%
        }
        .catpic
        {
         
        }
        .halloween
        {
            margin-left: 20px;
            float: left;
        }
        .product
        {
            font-size: 125%;
        }
        .cat
        {
            font-size: 80%;
        }
        .bottom
        {
            padding-top: 0px;
            margin-top: 0px;
        }

#nav_list_left ul
  {

            list-style-type: none;
            margin-left: 0px;
            margin-bottom: 3px;
            padding-bottom: 3px;
        padding-left: -0px;
  }
#nav_list_left ul li
  {
            margin-bottom: 5px;
            width:120px;
            border: 2px solid black;
  }
#nav_list_left ul li a
  {
            background-color: orange;
            color:black;
            display: block;
            text-decoration: none;
            padding: 10px;
  }
#nav_list_left ul li a:hover
  {
            background-color:green;
  }
#nav_list_left ul li a:focus
  {
            background-color: green;
  }
#nav_list_top ul
{
    list-style-type: none;
    position: relative;
}
#nav_list_list ul li
{
    margin-left:0px;
    float:left;
}
#nav_menu ul {
    list-style: none;
    position: relative; 
}
#nav_menu ul li { float: left; 
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}               
#nav_menu ul ul li { float: none; 
}
#nav_menu ul li:hover > ul {
    display: block; 
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both; 
}
#nav_menu ul {	list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 145px;
    padding: 10px 0;/* padding above and below a elements */
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
}
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: orange; }
#nav_menu ul li a:active {color: orange;}
#nav_menu ul li a:hover {background-color: grey;}


#Recent{
list-style-type: none;
width: 180px;
height: 290px;
float: right;
padding:10px;
position:static;
margin: -16px -560px 0px 0px;

background-color: lightsalmon;
}
#Recent li
{
    list-style: none;
}
#Recent li img
{
    list-style-type: none;
    height: 50px;
    width: 50px;
}
#Recent a
{
    list-style-type: none;
    color:black;
}
.catpic
{
    margin: 10px 10px 10px -99px;
   width:210px;
    padding: 0px;
    float: left;
}
.catext
{
    font-size: 16px;
font-weight:normal; 
    margin-right: 166px;
    margin-bottom: 0px;
    padding-left: 40px;
}
aside
{
    width: 100px;
}
.catprice
{
    list-style-type: none;
    font-size: 16px;
}
#nav_list_left
{
    margin: 0px 0px 0px 40px;
}
#nav_menu
{
    background-color: black;
        margin-top: -16px;
}